  <div id="navbar" class="{{ theme_navbar_class }} navbar-default navbar-fixed-top" height="65px">
    <div class="container">
      <!-- brand logo -->
      <a class="navbar-brand" href="{{ pathto('index') }}">
        {% if theme_variant == "plugin" %}
        <img src="{{ pathto('_static/navbar_plugin.png', 1) }}" alt="PsychoPy Logo">
        {% elif theme_variant == "plugin_dir" %}
        <img src="{{ pathto('_static/navbar_plugin_dir.png', 1) }}" alt="PsychoPy Logo">
        {% else %}
        <img src="{{ pathto('_static/navbar.png', 1) }}" alt="PsychoPy Logo">
        {% endif %}
      </a>
      <!-- gap between logo and links -->
      <div style="flex-grow: 1;"></div>
      <!-- nav links -->
      <div class="collapse navbar-collapse nav-collapse w-100 pull-right">
        <ul class="nav navbar-nav ml-auto">
          {% for nav_item in theme_navbar_links.items() %}
          {% with nav_item = nav_item %}
            {% include "navbar_item.html" %}
          {% endwith %}
          {% endfor %}
          {% if theme_variant == "plugin" %}
          <li><a href="https://plugins.psychopy.org/directory.html" class="return-btn">plugins.psychopy.org</a></li>
          {% elif theme_variant == "plugin_dir" %}
          <li><a href="https://psychopy.org/" class="return-btn">psychopy.org</a></li>
          {% endif %}
        </ul>
      </div>
      <!-- shown when screen is too small for full links, clicking it toggles links shown -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
